@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 10px;
  position: fixed;
  z-index: 2;
}
.header::-webkit-scrollbar {
  display: none;
}

.header-content {
  width: 85%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
  font-weight: 600;
  z-index: 4;
}
.header-title {
  font-size: 1.4rem;
  font-weight: 800;
}
.header-toggle-container {
  width: 6.2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.header-toggle-icon {
  height: 0.9rem;
  transform: rotateZ(-20deg);
  margin-top: 3px;
}
.header-toggle {
  font-weight: 600;
  height: 1rem;
}
@media only screen and (max-width: 600px) {
  .header-content {
    width: 90%;
  }
  .header-title {
    font-size: 1rem;
    padding: 1rem 0rem;
  }
  .header-toggle-icon{
    font-size: 1rem;
  }
}
